@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Eclass</h1>
    <h5>Our Eclass Platfrom allows the different types of users to interact with eachother and view personalized data according to their role. Students are able to view their grades while professors can view their graded courses and grade students according to their performance during the semester. With a simple username and password that is provided to them upon their registration at the university premises both students and teachers can log in and access our platfrom services. Secretary users which can also access the website are responsible for managing the student, course and professor data and register new students and professors to the system</h5>
    <img src="https://www.clickview.co.uk/wp-content/uploads/sites/3/AU-blog-teaching-strategies-_Help-with-Online-Learning.jpg" alt="Eclass"/>
</div>
